* {
	font-size: 16px;
	margin: 0 auto;
	padding: 0;
}

.container {
	width: 100%;
	height: 700px;
}

.header {
	position: relative; /* 重要：设置为相对定位 */

}

.logo {
	width: 30%;
	height: 150px;
	float: left;
	margin-left: 10px;
}
/* .link{
	width: 50%;
	background: #af0657;
	height: 150px;
	float: left;
} */


.nav {
	background: rgb(1,77,161);
	width: 100%;
	height: 150px;
}
/* 链接样式 */
.topLink{
	margin-bottom: 30px;
	text-align: right;
	margin-right: 30px;
	padding-top: 10px;
}
.topa{
	text-decoration: none;
	color: white;
	font-size: large;
}
.bottomLink{
	padding-top: 30px;
	float: right;
	margin-right: 30px;
	/* margin-top: -50px; */
}
/* 下拉列表 */
ul li {
	height: 30px;
	width: 115px;
	list-style: none;
	float: left;
	/* margin-left: 10px; */
	/* display: inline; */
	font-size: large ;
	text-align: center;
}

ul li a {
	color: #FFF;
	width: 113px;
	margin: 0px;
	height: 50px;
	padding: 0px 0px 0px 8px;
	/* padding-left: 20px; */
	text-decoration: none;
	display: block;
	background: none;
	line-height: 29px;
	border: none;
	font-size: medium
}

ul li ul li {
	height: 50px;
}

ul li ul li a {
	font-size:medium;
	text-align: center;
	background: #daefff;
	line-height: 24px;
	height: 50px;
	color: #014da1;

}

 ul li a:hover {
	background-color: rgba(107, 107, 107, 0.5);
}

ul li ul {
	visibility: hidden;
}

ul li:hover ul {
	visibility: visible;
}

ul li ul li a:hover {
	background: #6483c2;
}
.main {
	width: 100%;
	height: 520px;
}
.functionLink{
	display: flex;
	align-items: center;
	/* text-align: center; */
	width: 100%;
	height: 120px;
	background-color: #daefff; /*设置背景条纹*/
	background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(255, 255, 255, 0.5) 5px, rgba(255, 255, 255, 0.5) 70px); 
	--darkreader-inline-bgcolor: rgb(1,77,161); 
	--darkreader-inline-bgimage: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 35px, rgba(24, 26, 27, 0.5) 35px, rgba(24, 26, 27, 0.5) 70px);
}
.functionLi{
	height: 30px;
	width: 115px;
	list-style: none;
	float: left;
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 10px;
	/* display: inline; */
	font-size: large ;
	text-align: center
}
.functionA{
	color: #014da1;
	width: 113px;
	margin: 0px;
	height: 50px;
	padding: 0px 0px 0px 8px;
	/* padding-left: 20px; */
	text-decoration: none;
	display: block;
	background: none;
	line-height: 29px;
	border: none;
	font-size: small;
}
.functionLi:hover{
	transform: translate(0px,-10px);
}
.functionA:hover{
	background: none;
}
.left {
	/* background: #33FBFB; */
	width: 66%;
	height: 100%;
	float: left;
}
.newsLogo{
	font-size: 30px;
	color: #014da1;
	float: left;
	padding-left: 40px;
}
#info{
	/* float: left; */
}
.infoa{
	float: left;
	font-size: 25px;
	color: #014da1;
	text-decoration: none;
	margin-bottom: 30px;
}
.leftright{
	float: left;
}
.rightinfo{
	float: left;
	width: 500px;
	height: 720px;
}
.event{
	margin-top: 30px;
}
.eventTitle{
	color: #014da1;
	font-size: 20px;
	font-weight: 500;
}
.eventTitle:hover{
	transform: translate(10px,0);
}
.newspaper{
	float: left;
	width: 20%;
	margin-right: 15px;
	border: 1px solid #daefff;
}
.right {
	/* background: #DDFBFB; */
	width: 33%;
	height: 100%;
	float: left;
}
/* .footer{
	background: #014da1;
	background: url("img/wenhua.jpg");
	width: 100%;
	height: 400px;
} */

/* 动态板块 */
.dynamic {
	background: url("img/wenhua.jpg");
	width: 100%;
	height: 470px;
	clear: both;
}
.academic{
	float: left;
	width: 415px;
	height: 360px;
	background: #FFF;
	margin-left: 110px;
	margin-top: 55px;
}
.academicTitle{
	float: left;
}
.academicTitle a{
	font-size: 25px;
	text-decoration: none;
	color: #121ea4;
	font-weight: bold;
	margin-left: 15px;
}
.academicMore{
	float: right;
	color: #014da1;
	font-size: larger;
	margin-top: 15px;
}
.chair{
	width: 350px;
	color: #014da1;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	white-space: nowrap; 
}
.chair a{
	color: #014da1;
	text-decoration: none;
}
.technology{
	float: left;
	width: 415px;
	height: 360px;
	background: #FFF;
	margin-left: 30px;
	margin-top: 55px; 
}
.technologyA{
	font-size: 25px;
	text-decoration: none;
	color: #121ea4;
	font-weight: bold;
	margin-left: 15px;
}
.technologyTitle{
	float: left;
}
.technologyMore{
	float: right;
	color: #014da1;
	font-size: larger;
	margin-top: 15px;
}
.notice{
	width: 380px;
	color: #014da1;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	white-space: nowrap; 
	height: 50px;
}
.notice a{
	color: #014da1;
	text-decoration: none;
}
.notice:hover{
	transition-duration: 1s;
	transform: translate(10px,0);
}
.society{
	float: left;
	width: 415px;
	height: 360px;
	background: #FFF;
	margin-left: 30px;
	margin-top: 55px; 
}
.societyA{
	font-size: 25px;
	text-decoration: none;
	color: #121ea4;
	font-weight: bold;
	margin-left: 15px;
}
.societyTitle{
	float: left;
}
.societyMore{
	float: right;
	color: #014da1;
	font-size: larger;
	margin-top: 15px;
}
/* 公告板块设计 */
.bulletin{
	width: 100%;
	height: 410px;
	/* background: #6483c2; */
}
.officalBulletin{
	float: left;
	width: 390px;
	height: 367.8px;
	margin-left: 115px;
	margin-top: 40px;
	/* background: #014da1; */
}
.officalBulletinTitle{
	float: left;
}
.officalBulletinA{
	font-size: 25px;
	text-decoration: none;
	color: #121ea4;
	font-family: 'SimSun', sans-serif;
	font-weight: bold;
	margin-left: 15px;
}
.officalBulletinMore{
	float: right;
	color: #014da1;
	font-size: larger;
	font-weight: bold;
	font-family: 'SimSun', sans-serif;
}
/* .noticeList{
	
} */
.noticeList {
	width: 350px;
	display: -webkit-box;
	/* margin-top: 20px; */
	-webkit-box-orient: vertical;
	overflow: hidden;
	-webkit-line-clamp: 2; /* 设置显示的行数 */
}

.noticeList p {
	margin-top: 30px; /* 为了去除段落的默认上下边距 */
	color: #121ea4;
	font-size: larger;
	font-family: 'SimSun', sans-serif;
}
.bigEvent{
	width: 871px;
	height: 370px;
	/* background: #a7abb3; */
	margin-left: 50px;	
	margin-top: 40px;
	float: left;
}
.bigEventTitle{
	float: left;
}
.bigEventA{
	font-size: 25px;
	text-decoration: none;
	color: #121ea4;
	font-family: 'SimSun', sans-serif;
	font-weight: bold;
	margin-left: 15px;
}
#bigEventLink{
	margin-left: 15px;
}
.bigEventMore{
	float: right;
	color: #014da1;
	font-size: larger;
	font-weight: bold;
	font-family: 'SimSun', sans-serif;
}
.bigEvent img{
	margin-top: 10px;
	margin-left: 100px;
}
.image-container {
	position: relative;
	max-width: 1000px;
}

.image-container img {
	width: 80%; /* 图片宽度占满容器 */
	height: auto; /* 保持图片纵横比 */
}

.caption {
	width: 76.5%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(128, 128, 128, 0.5);
	color: #fff; /* 设置文字颜色为白色 */
	padding: 15px; /* 设置文字容器的内边距 */
	text-align: center; /* 文字居中 */
	margin-left: 115px;
	margin-bottom: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	white-space: nowrap; 
}

/*  风采展示板块设计  */
.display{
	height: 411px;
	background: url("img/bg2.jpg")
}
.displayTeacher{
	float: left;
	width: 500px;
	/* height: 720px; */
	margin-left: 30px;
	margin-top: 50px;
}
.displayEvent{
	margin-top: 27px;
}
.displayTitle{
	height: 80px;
	color: #FFF;
}
.displayTeacherTitle{
	float: left;
}

.displayTeacherA{
	font-size: 25px;
	text-decoration: none;
	color: white;
	font-family: 'SimSun', sans-serif;
	font-weight: bold;
	margin-left: 15px;
}
.displayPic{
	float: left;
	width: 15%;
	margin-right: 15px;
	border: 1px solid #FFF;
}
.displayTeacherMore a{
	float: right;
	color: white;
	margin-right: 50px;
	font-size: medium;
	font-weight: bold;
	font-family: 'SimSun', sans-serif;
}
.displayTechnology{
	float: left;
	width: 500px;
	margin-left: 0px;
	margin-top: 50px;
}
.displayTechnologyTitle{
	float: left;
}
/* .displayTechnologyA{
	font-size: 25px;
	text-decoration: none;
	color: white;
	font-family: 'SimSun', sans-serif;
	font-weight: bold;
	margin-left: 15px;
} */
.displayTechnologyMore a{
	float: right;
	color: white;
	margin-right: 50px;
	font-size: medium;
	font-weight: bold;
	font-family: 'SimSun', sans-serif;
}
.displayClassmate{
	float: left;
	margin-left: 0px;
	margin-top: 50px;
}
.displayClassmateTitle{
	float: left;
}
.displayClassmateMore a{
	float: right;
	color: white;
	margin-right: 50px;
	font-size: medium;
	font-weight: bold;
	font-family: 'SimSun', sans-serif;
}
.displayTitle:hover{
	transform: scale(0.9);
  transition-property: all;
  transition-duration: 3s;
}
.culture{
	width: 100%;
	height: 450px;
}
.rightCulture{
	float: left;
	height: 440px;
	width: 780px;
	margin-left: 100px;
	margin-top: 30px;
	background: #6483c2;
}
.schoolCulture{
	width: 100%;
	height: 232px;
	background: url("img/f-1.png");
}
.schoolCultureTitle{
	width: 100%;
	height: 70px;
	
}
.schoolCultureTitle h1 a{
	text-decoration: none;
	color: #FFF;
	font-size: 25px;
	margin-left: 30px;
	font-family: 'SimSun', sans-serif;
}
.schoolCultureMore{
	height: 162px;
	width: 130px;
	float: left;
}
.schoolCultureMore a{
	text-decoration: none;
	color: #FFF;
	margin-left: 30px;
	width: 650px;
}

.schoolCultureEvent a{
	color: #fff;
	text-decoration: none;
}
.schoolCultureEvent a span{
	float: right;
	margin-right: 10px;
}
.schoolImg{
	float: left;
	width: 390px;
	height: 208px;
	background: url("img/686E263D6D98AB9BBBB7E87B5E8_2E686DD9_2FA43.jpg");
	background-size: 100%;
}
.schoolImg a{
	text-decoration: none;
	color: #FFF;
	font-size: 30px;
	margin-left: 30px;
	font-family: 'SimSun', sans-serif;
}
.schoolVideo{
	float: left;
	width: 390px;
	height: 208px;
	background: url("img/EA5C05F6B78925B5DDC4BFC0720_D661AC7E_EDD6.jpg");
	background-size: 100%;
}
.schoolVideo a{
	text-decoration: none;
	color: #FFF;
	font-size: 30px;
	margin-left: 30px;
	font-family: 'SimSun', sans-serif;
}
.leftCulture{
	float: left;
	background: url("img/ydgs.png");
	background-size: 100%;
	width: 520px;
	height: 440px;
	margin-top: 30px;
}
.leftCulture h1{
	float: left;
	width: 30px;
	height: 110px;
	color: #cc233a;
	margin-left: 35px;
	margin-top: 30px;
	font-size:25px;
	font-family: 'SimSun', sans-serif;
}
.leftCultureMore{
	margin-top: 180px;
	margin-left: 60px;
	color: #cc233a;
	width: 30px;
	height: 110px;
	font-size:20px;
	font-weight: bold;
	font-family: 'SimSun', sans-serif;
}
.rightCultureEvent a{
	text-decoration: none;
	color: #014da1;
	margin-left: 25px;
}

/* footer板块设计 */
.footer{
	background: url("img/footer_bg.jpg");
	width: 100%;
	height: 315px;
	margin-top: 50px;
	text-align: center; /* 水平居中 */
}
.footImg {
	float: left;
  max-width: 100%; /* 图片宽度不超过容器宽度 */
  max-height: 100%; /* 图片高度不超过容器高度 */
  vertical-align: middle; /* 垂直居中 */
	margin-top: 70px;
	margin-left: 50px;
	z-index: 1;
}
.infoList{
	float: left;
	margin-top: 100px;
	margin-left: 30px;
}
.infoList span{
	color: #FFF;
	text-align: left;
	font-weight: bold;
	font-size: 20px;
	font-family: 'SimSun', sans-serif;
}
.socialIconUp{
	float: left;
	width: 325px;
	height: 86.6px;
	margin-top: 100px;
	padding-right: 10px;
}
.socialIconUp img{
	margin-left: 40px;
	margin-left: 30px;
  width: 40px; /* 设置容器宽度 */
  height: 40px; /* 设置容器高度 */
  overflow: hidden; /* 隐藏超出容器的部分 */
  border-radius: 50%; /* 创建圆形边框 */
  border: 1px solid #fff; /* 边框样式 */

}
.socialIconDown{
	float: left;
	width: 325px;
	height: 86.6px;
}
.socialIconDown img{
	margin-left: 30px;
  width: 40px; /* 设置容器宽度 */
  height: 40px; /* 设置容器高度 */
  overflow: hidden; /* 隐藏超出容器的部分 */
  border-radius: 50%; /* 创建圆形边框 */
  border: 1px solid #fff; /* 边框样式 */
}
